@font-face {
  font-family: Archia;
  src: url(../fonts/Archia-Regular.otf);
}

.quiz-body {
  background-color: #f0f5fa;
  height: 90vh;
  font-family: Archia;
}

.divisions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-pallet {
  height: 75vh;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #bbcfda, inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.question-main {
  height: 75vh;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #bbcfda, inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.status {
  height: 75vh;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #bbcfda, inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.quiz-title {
  height: 5vh;
  background-color: #f1f1f1;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 20px;
  text-align: center;
  color: #262d33;
  padding-top: 5px;
}

.pallet {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
}

.grid-container {
  display: grid;
  grid-template-columns: 5vh 5vh 5vh 5vh;
  grid-auto-rows: 5vh 5vh 5vh;
  grid-column-gap: 1.8vw;
  grid-row-gap: 2.8vh;
  padding: 3vh;
  width: 100%;
}
.grid-item {
  background-color: #f5f5f5;
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 8px #bbcfda;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #262d33;
  transition: all 200ms;
}

.grid-item:hover {
  border: 1.5px solid #262d33;
  cursor: pointer;
  box-shadow: none;
}

.selected {
  background-color: #262d33;
  color: #f5f5f5;
}

.pallet-header {
  height: 5vh;
  background-color: #262d33;
  color: #f5f5f5;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 16px;
  padding-top: 7px;
  padding-left: 1.6vw;
}
.radiogroup {
  margin-top: 19.5rem;
  padding: 25px 55px;
  border-radius: 5px;
  height: 38%;
  background-color: #f5f5f5;
  box-shadow: 4px 4px 10px #bbcfda, inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
}

.radiowrapper {
  margin: 2px 0px;
}

.state {
  margin-bottom: 1.2rem;

  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #262d33;
}

.text {
  margin-left: 16px;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
  font-size: 16px;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;

  box-shadow: -8px -4px 8px 0px #fff, 8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
  margin-right: 2rem;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #d1d9e6, 4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #f5f5f5;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 4px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
}

.indicator :hover {
  box-shadow: 4px 4px 10px #bbcfda, -4px -4px 10px #ffffff,
    inset 6px 6px 10px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}
